* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  box-shadow: none;
  border: none;
}

*:focus {
  outline: none;
}

a {
  color: black;
}

body, html {
  height: 100%;
  font-family: -apple-system, Roboto, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #FFFBDB;
}

header {
  height: 80px;
  background-color: #625834;
  padding: 10px 15px;
}
header .header-inner {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  height: 100%;
}
header .header-inner .logo {
  height: 100%;
}
header .header-inner .logo img {
  max-height: 100%;
}
header .header-inner .site-name {
  font-size: 3em;
  font-weight: bold;
  color: #FFFBDB;
  cursor: pointer;
}
header .header-inner .user {
  display: flex;
  align-items: center;
  column-gap: 15px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
header .header-inner .user .user-name {
  font-size: 1em;
  font-weight: 600;
  color: #FFFBDB;
}
header .header-inner .user .user-image {
  height: 50px;
}
header .header-inner .user .user-image img {
  height: 100%;
  border-radius: 50%;
  outline: 3px solid #FFFBDB;
  border: 2px solid black;
  animation: userImageAnimation 2s infinite;
}
header .header-inner .user .user-dropdown {
  position: absolute;
  top: 60%;
  right: 0;
  padding-top: 12px;
  width: 100%;
  min-width: 150px;
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  user-select: none;
  transition: 500ms all;
}
header .header-inner .user .user-dropdown.active {
  top: 100%;
  opacity: 1;
  visibility: visible;
  z-index: 2;
  user-select: auto;
}
header .header-inner .user .user-dropdown.active + i {
  opacity: 1;
}
header .header-inner .user .user-dropdown ul {
  background-color: #30362F;
  width: 100%;
  border-radius: 15px;
  padding: 10px;
}
header .header-inner .user .user-dropdown ul li {
  color: #FFFBDB;
  padding: 4px 4px;
  word-wrap: break-word;
  background-color: transparent;
  font-size: 1.1em;
  text-align: center;
  border-bottom: 1px solid #FFFBDB;
  font-weight: 600;
  transition: 600ms background-color, 600ms border-radius;
}
header .header-inner .user .user-dropdown ul li:first-child {
  border-top: 1px solid #FFFBDB;
}
header .header-inner .user .user-dropdown ul li:hover {
  background-color: #FFFBDB;
  color: #30362F;
  border-color: transparent;
  border-radius: 8px;
}
header .header-inner .user > i {
  color: #30362F;
  font-size: 2em;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 300ms all;
}

main .main-inner {
  display: flex;
  column-gap: 20px;
  max-width: 1440px;
  margin: auto;
}
main .main-inner #sidebar {
  background-color: red;
  width: 300px;
  height: 100px;
}
main .main-inner .content {
  flex: auto;
  background-color: green;
}
main .main-inner aside {
  width: 300px;
  background-color: black;
}

footer {
  background-color: #625834;
  padding: 10px 15px;
}
footer .footer-inner {
  max-width: 1440px;
  margin: auto;
  height: 100%;
}
footer .footer-inner a {
  font-size: 1em;
  font-weight: 600;
  color: #FFFBDB;
  text-align: center;
  display: block;
  margin: auto;
}

/*# sourceMappingURL=style.css.map */
