$primary-bg-color: #625834;
$bg-color: #FFFBDB;
$secondary-color: #30362F;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    box-shadow: none;
    border: none;
}

*:focus{
    outline: none;
}

a{
    color: black;
}

body,html{
    height: 100%;
    font-family: -apple-system, Roboto, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: $bg-color;
}

header{
    height: 80px;
    background-color: $primary-bg-color;
    padding: 10px 15px;
    .header-inner{
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1440px;
        height: 100%;

        .logo{
            height: 100%;

            img{
                max-height: 100%;
            }
        }

        .site-name{
            font-size: 3em;
            font-weight: bold;
            color: $bg-color;
            cursor: pointer;
        }

        .user{
            display: flex;
            align-items: center;
            column-gap: 15px;
            cursor: pointer;
            position: relative;
            z-index: 1;

            .user-name{
                font-size: 1em;
                font-weight: 600;
                color: $bg-color;
            }
            .user-image{
                height: 50px;
                
                
                img{
                    height: 100%;
                    border-radius: 50%;
                    outline: 3px solid $bg-color;
                    border: 2px solid black;
                    animation: userImageAnimation 2s infinite;
                }
            }

            .user-dropdown{
                position: absolute;
                top: 60%;
                right: 0;
                padding-top: 12px;
                width: 100%;
                min-width: 150px;
                z-index: 0;
                opacity: 0;
                visibility: hidden;
                user-select: none;
                transition: 500ms all;

                &.active{
                    top: 100%;
                    opacity: 1;
                    visibility: visible;
                    z-index: 2;
                    user-select: auto;
                    +i{
                        opacity: 1;
                    }
                }

                ul{
                    background-color: $secondary-color;
                    width: 100%;
                    border-radius: 15px;
                    padding: 10px;

                    li{
                        color: $bg-color;
                        padding: 4px 4px;
                        word-wrap: break-word;
                        background-color: transparent;
                        font-size: 1.1em;
                        text-align: center;
                        border-bottom: 1px solid $bg-color;
                        font-weight: 600;
                        transition: 600ms background-color, 600ms border-radius;
                        &:first-child{
                            border-top: 1px solid $bg-color;
                        }

                        &:hover{
                            background-color: $bg-color;
                            color: $secondary-color;
                            border-color: transparent;
                            border-radius: 8px;
                        }
                    }
                }
            }

            >i{
                color: $secondary-color;
                font-size: 2em;
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                opacity: 0;
                transition: 300ms all;
            }
        }
    }
}

main{
    padding: 1em 2em;
    .main-inner{
        display: flex;
        column-gap: 20px;
        max-width: 1440px;
        margin: auto;

        #sidebar{
            border-radius: 15px;
            padding: 10px;
            border: 1px solid $secondary-color;

            i{
                font-size: 1.2em;
            }

            .sidebar-title{
                display: flex;
                align-items: baseline;
                column-gap: 10px;
                padding: 10px;
                border-bottom: 1px solid $secondary-color;
                cursor: pointer;
                i{
                    padding-left: 3px;
                }
            }

            nav{

                width: 220px;
                overflow-x: hidden;
                transition: 500ms all ease-out;

                &.close{
                    width: 42px;

                    a{                  
                        height: 40px;
                        overflow: hidden;
                    }
                    p{
                        display: none;
                    }
                }

                ul{
                    width: 100%;
                    overflow: hidden;
                    li{
                        width: 100%;
                        border-bottom: 1px solid $secondary-color;
                        transition: 600ms all;

                        &:last-child{
                            border: none;
                        }
                        
                        a{
                            padding: 10px 10px;
                            display: flex;
                            align-items: baseline;
                            column-gap: 10px;
                            width: 100%;
                            height: 40px;
                            cursor: pointer;

                            p{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                flex: auto;
                            }

                            + ul{
                                height: 0;
                                transition: 300ms all;
                                overflow: hidden;
                            }

                            &.show{
                                background-color: $secondary-color;
                                color: $bg-color;
                            }

                            &.show + ul{
                                height: auto;

                                li{
                                    background-color: $primary-bg-color;
                                    a{
                                        color: $bg-color;
                                    }

                                    &:hover{
                                        background-color: $bg-color;

                                        a{
                                            color: $secondary-color;
                                        }
                                    }
                                }
                            }
                        }

                        &:hover{
                            background-color: $secondary-color;

                            a{
                                color: white;
                            }
                        }
                    }
                }
            }
            
        }

        .content{
            flex: auto;
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            
            .post{
                width: 100%;
                border-bottom: 2px dashed $secondary-color;

                .post-top{
                    .user-info{
                        height: 60px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .left{
                            display: flex;
                            column-gap: 15px;
                            align-items: center;

                            .user-image{
                                img{
                                    height: 40px;
                                    border-radius: 50%;
                                    outline: 3px solid $secondary-color;
                                }
                            }

                            .user-name{
                                display: flex;
                                justify-content: space-evenly;
                                flex-direction: column;
                                
                                p{
                                    font-size: 1em;
                                    font-weight: 500;

                                    &:last-child{
                                        font-size: 11px;
                                        color: rgb(145, 145, 145);
                                    }
                                }
                            }
                        }

                        .right{
                            display: flex;
                            align-items: center;
                            column-gap: 20px;

                            div{
                                display: flex;
                                align-items: baseline;
                                column-gap: 7px;
                            }

                            div.active{
                                i{
                                    color: green;
                                }
                                color: green;                                
                            }

                            div.see{
                                i{
                                    color: blue;
                                }
                                color: blue;
                            }

                            div.passive {
                                i{
                                    color: red;
                                }
                                color: red;
                            }

                            div:first-child i:hover{
                                color: green;
                            }

                            div:nth-child(2) i:hover{
                                color: red;
                            }
                            
                            i{
                                color: #666;
                                cursor: pointer;
                                transition: 300ms all;
                            }
                        }
                    }
                    .post-title{
                        font-size: 1.3em;
                        font-weight: 700;
                        padding: 5px 0;
                    }
                }

                .post-infos{
                    font-size: 1em;
                    padding-bottom: 15px;

                    img{
                        max-width: 60%;
                        min-width: 200px;
                        display: block;
                        margin: 0 auto 10px auto;
                    }
                }
            }
        }

        aside{
            min-width: 250px;

            .title{
                font-size: 1.3em;
                font-weight: 500;
                text-align: center;
                padding-bottom: 12px;

                i{
                    color: #ff2828;
                    font-size: 1.3em;
                    margin-right: 8px;
                }
                border-bottom: 2px dashed #888;
            }

            .lidle-posts{
                padding: 20px 0;
                
                .post{
                    position: relative;
                    max-width: 250px;
                    margin-bottom: 20px;

                    &:last-child{
                        margin: 0;
                    }

                    img{
                        max-width: 100%;
                    }

                    .post-info{
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        padding: 5px 10px;
                        background-color: rgba(255, 255, 255, 0.432);
                    }
                }
            }
        }
    }
}

footer{    
    background-color: $primary-bg-color;
    padding: 10px 15px;
    
    .footer-inner{
        max-width: 1440px;
        margin: auto;
        height: 100%;

        a{
            font-size: 1em;
            font-weight: 600;
            color: $bg-color;
            text-align: center;
            display: block;
            margin: auto;
        }
    }
}