* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  box-shadow: none;
  border: none;
}

*:focus {
  outline: none;
}

a {
  color: black;
}

body, html {
  height: 100%;
  font-family: -apple-system, Roboto, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #FFFBDB;
}

header {
  height: 80px;
  background-color: #625834;
  padding: 10px 15px;
}
header .header-inner {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  height: 100%;
}
header .header-inner .logo {
  height: 100%;
}
header .header-inner .logo img {
  max-height: 100%;
}
header .header-inner .site-name {
  font-size: 3em;
  font-weight: bold;
  color: #FFFBDB;
  cursor: pointer;
}
header .header-inner .user {
  display: flex;
  align-items: center;
  column-gap: 15px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
header .header-inner .user .user-name {
  font-size: 1em;
  font-weight: 600;
  color: #FFFBDB;
}
header .header-inner .user .user-image {
  height: 50px;
}
header .header-inner .user .user-image img {
  height: 100%;
  border-radius: 50%;
  outline: 3px solid #FFFBDB;
  border: 2px solid black;
  animation: userImageAnimation 2s infinite;
}
header .header-inner .user .user-dropdown {
  position: absolute;
  top: 60%;
  right: 0;
  padding-top: 12px;
  width: 100%;
  min-width: 150px;
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  user-select: none;
  transition: 500ms all;
}
header .header-inner .user .user-dropdown.active {
  top: 100%;
  opacity: 1;
  visibility: visible;
  z-index: 2;
  user-select: auto;
}
header .header-inner .user .user-dropdown.active + i {
  opacity: 1;
}
header .header-inner .user .user-dropdown ul {
  background-color: #30362F;
  width: 100%;
  border-radius: 15px;
  padding: 10px;
}
header .header-inner .user .user-dropdown ul li {
  color: #FFFBDB;
  padding: 4px 4px;
  word-wrap: break-word;
  background-color: transparent;
  font-size: 1.1em;
  text-align: center;
  border-bottom: 1px solid #FFFBDB;
  font-weight: 600;
  transition: 600ms background-color, 600ms border-radius;
}
header .header-inner .user .user-dropdown ul li:first-child {
  border-top: 1px solid #FFFBDB;
}
header .header-inner .user .user-dropdown ul li:hover {
  background-color: #FFFBDB;
  color: #30362F;
  border-color: transparent;
  border-radius: 8px;
}
header .header-inner .user > i {
  color: #30362F;
  font-size: 2em;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 300ms all;
}

main {
  padding: 1em 2em;
}
main .main-inner {
  display: flex;
  column-gap: 20px;
  max-width: 1440px;
  margin: auto;
}
main .main-inner #sidebar {
  border-radius: 15px;
  padding: 10px;
  border: 1px solid #30362F;
}
main .main-inner #sidebar i {
  font-size: 1.2em;
}
main .main-inner #sidebar .sidebar-title {
  display: flex;
  align-items: baseline;
  column-gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #30362F;
  cursor: pointer;
}
main .main-inner #sidebar .sidebar-title i {
  padding-left: 3px;
}
main .main-inner #sidebar nav {
  width: 220px;
  overflow-x: hidden;
  transition: 500ms all ease-out;
}
main .main-inner #sidebar nav.close {
  width: 42px;
}
main .main-inner #sidebar nav.close a {
  height: 40px;
  overflow: hidden;
}
main .main-inner #sidebar nav.close p {
  display: none;
}
main .main-inner #sidebar nav ul {
  width: 100%;
  overflow: hidden;
}
main .main-inner #sidebar nav ul li {
  width: 100%;
  border-bottom: 1px solid #30362F;
  transition: 600ms all;
}
main .main-inner #sidebar nav ul li:last-child {
  border: none;
}
main .main-inner #sidebar nav ul li a {
  padding: 10px 10px;
  display: flex;
  align-items: baseline;
  column-gap: 10px;
  width: 100%;
  height: 40px;
  cursor: pointer;
}
main .main-inner #sidebar nav ul li a p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: auto;
}
main .main-inner #sidebar nav ul li a + ul {
  height: 0;
  transition: 300ms all;
  overflow: hidden;
}
main .main-inner #sidebar nav ul li a.show {
  background-color: #30362F;
  color: #FFFBDB;
}
main .main-inner #sidebar nav ul li a.show + ul {
  height: auto;
}
main .main-inner #sidebar nav ul li a.show + ul li {
  background-color: #625834;
}
main .main-inner #sidebar nav ul li a.show + ul li a {
  color: #FFFBDB;
}
main .main-inner #sidebar nav ul li a.show + ul li:hover {
  background-color: #FFFBDB;
}
main .main-inner #sidebar nav ul li a.show + ul li:hover a {
  color: #30362F;
}
main .main-inner #sidebar nav ul li:hover {
  background-color: #30362F;
}
main .main-inner #sidebar nav ul li:hover a {
  color: white;
}
main .main-inner .content {
  flex: auto;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
main .main-inner .content .post {
  width: 100%;
  border-bottom: 2px dashed #30362F;
}
main .main-inner .content .post .post-top .user-info {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .main-inner .content .post .post-top .user-info .left {
  display: flex;
  column-gap: 15px;
  align-items: center;
}
main .main-inner .content .post .post-top .user-info .left .user-image img {
  height: 40px;
  border-radius: 50%;
  outline: 3px solid #30362F;
}
main .main-inner .content .post .post-top .user-info .left .user-name {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
main .main-inner .content .post .post-top .user-info .left .user-name p {
  font-size: 1em;
  font-weight: 500;
}
main .main-inner .content .post .post-top .user-info .left .user-name p:last-child {
  font-size: 9px;
  color: #919191;
}
main .main-inner .content .post .post-top .user-info .right {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
main .main-inner .content .post .post-top .user-info .right div {
  display: flex;
  align-items: baseline;
  column-gap: 7px;
}
main .main-inner .content .post .post-top .user-info .right div.active {
  color: green;
}
main .main-inner .content .post .post-top .user-info .right div.active i {
  color: green;
}
main .main-inner .content .post .post-top .user-info .right div.see {
  color: blue;
}
main .main-inner .content .post .post-top .user-info .right div.see i {
  color: blue;
}
main .main-inner .content .post .post-top .user-info .right div.passive {
  color: red;
}
main .main-inner .content .post .post-top .user-info .right div.passive i {
  color: red;
}
main .main-inner .content .post .post-top .user-info .right div:first-child i:hover {
  color: green;
}
main .main-inner .content .post .post-top .user-info .right div:nth-child(2) i:hover {
  color: red;
}
main .main-inner .content .post .post-top .user-info .right i {
  color: #666;
  cursor: pointer;
  transition: 300ms all;
}
main .main-inner .content .post .post-top .post-title {
  font-size: 1.3em;
  font-weight: 700;
  padding: 5px 0;
}
main .main-inner .content .post .post-infos {
  font-size: 1em;
  padding-bottom: 15px;
}
main .main-inner aside {
  min-width: 250px;
}

footer {
  background-color: #625834;
  padding: 10px 15px;
}
footer .footer-inner {
  max-width: 1440px;
  margin: auto;
  height: 100%;
}
footer .footer-inner a {
  font-size: 1em;
  font-weight: 600;
  color: #FFFBDB;
  text-align: center;
  display: block;
  margin: auto;
}

/*# sourceMappingURL=style.css.map */
